@import '_variables';
.image-search {
  padding: $medPad;
  background: $white;
}
.image-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &-img-container {
    width: 30%;
    margin: $smallPad;
    position: relative;
    img {
      width: 100%;
    }
  }
}
