@import '_variables';
@import '_mixins';

.image-search {
  padding: $medPad;
  background: $white;
  min-height: 470px;
  @include respond(tab-port) {
    padding: 10px;
  }
}
.image-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &-img-container {
    width: 30%;
    margin: $smallPad;
    position: relative;
    img {
      width: 100%;
    }
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
