@import './variables';
.menu-item {
  width: 100%;
  height: 2rem;
  padding: 25px 5px;
  margin-top: $smallPad;
  font-size: 1em;
  font-weight: 700;
  text-align: left;
  border-bottom: 1px solid $darkGrey;
  transition: all 0.2s ease 0s;

  &:hover {
    border-bottom: 2px solid $black;
    transform: scale(1.03);
  }
}
