.header-box {
  width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
}

.header-box--img {
  width: 100%;
  position: absolute;
  top: -9868px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.header-box--title {
  color: #fff;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 5%;
  text-align: center;
  padding: 0;
}

.header-box--tag {
  padding: 0;
  display: block;
  text-align: center;
  line-height: 1.1em;
  font-size: 36px;
}

.row1--left-img {
  position: relative;
  text-align: center;
}
/* ----- floating image ----- */
.row1--left-img img {
  /* display: none; */
  /* position: absolute;
  top: -5rem;
  left: 0;
  /* height: 23rem; */
  z-index: 1;
  width: 15vw;
  border-radius: 18px;
}
.row1--center-box {
  margin: 1rem 0;
  background-color: #fff;
  height: 25rem;
  width: 100%;
  padding: 5px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}
.center-box--top {
  padding: 10px;
  height: 70%;
}
.center-box--bottom {
  background-color: #ffa72a;
  height: 30%;
  padding: 15px 15px 20px 15px;
  color: white;
}
.center-box--bottom-text {
  line-height: 0.1;
  font-weight: bolder;
}

.row1--right {
  margin: 1rem 0;
  position: relative;
  width: 100%;
  height: 25rem;
  overflow: hidden;
}

.row1--right img {
  /* position: absolute;
  top: -200px;
  left: -10px; */
  /* min-height: 100%; */
  height: 110%;
  /* max-width: 140%; */
}
/* .row2-left-col {
  padding-right: 0 !important;
} */

.row2-left {
  height: 30rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.row2-left img {
  width: 100%;
  position: absolute;
  top: -10080px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.row2-right {
  margin-top: 1rem;
  padding: 0;
}

.row2-right-box {
  position: relative;
  background-color: #fff;
  padding: 15px;
  height: 30rem;
  width: 100%;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}
.green-box {
  background-color: #b2e571;
  height: 20%;
  padding: 20px;
  color: white;
  margin-bottom: 2rem;
}
.victory-text {
  font-size: 14px;
  font-weight: 300;
}

.row2-right--old-poster {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  height: 30rem;
}

.row2-right--old-poster img {
  height: 100%;
}

.garden {
  height: 60%;
  overflow: hidden;
}

.garden img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .header-box {
    width: 150%;
    height: 30vh;
  }
  .header-box--title {
    top: 34%;
    left: 7%;
  }
  .row1--left-img {
    display: none;
  }

  .row1--center-box {
    margin: 1rem;
  }

  .row1--right {
    margin: 1rem;
    position: relative;
    height: 29rem;
    overflow: hidden;
  }

  .row1--right img {
    position: absolute;
    top: -70px;
    left: -300px;
    height: 120%;
  }

  .row2-left {
    width: 100%;
    display: none;
    /* height: 350px; */
  }
  .row2-right--old-poster {
    text-align: center;
  }
  .row2-right-box {
    background-color: #fff;
    /* margin-top: 2rem; */
    padding: 15px;
    height: 30vh;
    width: 100%;
  }
}
